<script>
    export let invisible;
</script>

<div
    class="w-16 h-16 flex justify-center items-center text-3xl font-bold select-none
    border-8 rounded-xl border-gray-300 hover-hover:hover:border-black active:border-black hover:cursor-pointer duration-200 transition-colors"
    class:invisible
    on:click
>
    <slot></slot>
</div>
