<script>
    export let text;
</script>

<span
    class="underline decoration-gray-300 hover-hover:hover:decoration-black active:decoration-black hover:cursor-pointer duration-200"
    on:click
>
    {text}
</span>
