<script>
    import dictString from './dict.json';
    import ActionButton from './ActionButton.svelte';
    import ClickableText from './ClickableText.svelte';
    import OptionToggle from './OptionToggle.svelte';
    import PerformanceBar from './PerformanceBar.svelte';
    import ToneButton from './ToneButton.svelte';
    import { onMount } from 'svelte';
    import { fade } from 'svelte/transition';
    import Fa from 'svelte-fa';
    import { faArrowRightToBracket, faCaretRight, faHeadphones } from '@fortawesome/free-solid-svg-icons';

    const dict = dictString.split(';').map(x => x.split(','));

    let showOptions = false;

    let optInputJp = false;
    let optUseExample = false;
    let optAutoNext = false;
    let optSkip = false;
    let optAudio = false;

    $: optInputJp, optAutoNext, nextIfAns();

    const nextIfAns = () => {
        if (userAns) nextChar();
    };

    let audio;

    let currChar = '　'; // fullwidth space
    let currJp;
    $: currTone = currJp?.[currJp.length - 1];
    let userAns;
    let rightCount = 0;
    let wrongCount = 0;

    let userInput;
    let userInputValue;

    const nextChar = () => {
        if (!dict.length) {
            alert('That\'s all the characters! Reload to start over.');
            return;
        }
        const charAndJp = dict.splice(Math.floor(Math.random() * dict.length), 1)[0];
        currChar = charAndJp[0];
        currJp = charAndJp[1];
        // console.debug(currJp); // for testing
        userAns = undefined;
        userInputValue = '';
        userInput?.focus();
    };

    const handleKeydown = e => {
        const key = e.key;
        if (key === 'Escape') showOptions = false;
        else if (optInputJp && !userAns) {
            if (key === 'Enter') handleAnswer(userInputValue);
        } else {
            if (key === 'o') showOptions = !showOptions;
            else if ((key === 'a' || key === 'l' || key === 'p' || key === 'ArrowLeft') &&
                     optAudio) audio.play();
            else if ((key === 'Enter' || key === ' ' || key === 'n' || key === 'ArrowRight') &&
                     (optSkip || (userAns && !optAutoNext))) nextChar();
            else if (1 <= key && key <= 6) handleAnswer(key);
        }
    };

    const handleAnswer = ans => {
        if (userAns) return;
        userAns = typeof(ans) === 'string'
                  ? ans.toLowerCase().replace(/[^a-z1-9]/g, '').replace('7', '1').replace('8', '3').replace('9', '6')
                  : ans;
        if (!userAns) return;
        const currAns = optInputJp ? currJp : currTone;
        if (userAns == currAns) {
            if (optAudio) new Audio('right.ogg').play();
            ++rightCount;
        } else {
            if (optAudio) new Audio('wrong.ogg').play();
            ++wrongCount;
        }
        if (optAutoNext) setTimeout(nextChar, optInputJp ? 1000 : 500);
    };

    onMount(nextChar);
</script>

<svelte:window on:keydown={handleKeydown}/>

<svelte:head>
    <title>jplz</title>
</svelte:head>

<div class="grid h-screen">
    <div class="grid place-content-center">
        <div class="flex justify-between items-baseline mb-16 select-none">
            <div class="w-16"/>
            <div class="text-center text-base sm:text-xl text-gray-600 font-serif">
                jyut6 ping3 lin6 zaap6
            </div>
            <div class="w-16 text-right text-base">
                <ClickableText text={'options'} on:click={() => showOptions = true}/>
            </div>
        </div>
        {#if optAudio && currJp}
            <div class="fixed">
                <audio bind:this={audio} src="https://humanum.arts.cuhk.edu.hk/Lexis/lexi-can/sound/{currJp}.wav"></audio>
            </div>
        {/if}
        <div class="flex justify-between items-center mb-8">
            <ActionButton
                invisible={!optAudio}
                on:click={() => audio.play()}
            >
                <Fa icon={faHeadphones}/>
            </ActionButton>
            <div lang="zh" class="text-center text-9xl font-chinese" class:select-none="{!userAns}">
                {currChar}
            </div>
            <ActionButton
                invisible={!optSkip && (!userAns || optAutoNext)}
                on:click={nextChar}
            >
                <Fa icon={faCaretRight} scale="1.5"/>
            </ActionButton>
        </div>
        <div class="w-80 sm:w-[26rem] grid {optInputJp ? 'grid-cols-1' : 'grid-cols-3'} gap-4 mb-8">
            {#if optInputJp}
                <div class="h-24 sm:h-32 relative">
                    <div
                        class="absolute inset-0 flex justify-end items-center text-3xl font-bold select-none
                        pr-6 sm:pr-10 border-8 rounded-full border-gray-300 duration-200
                        hover:border-black pointer-events-none"
                        class:border-black="{userAns}"
                        class:bg-green-500="{userAns && userAns == currJp}"
                        class:bg-red-500="{userAns && userAns != currJp}"
                    >
                        <span
                            class:hover:cursor-pointer="{!userAns}"
                            class:pointer-events-auto="{!userAns}"
                            on:click={() => handleAnswer(userInputValue)}
                        >
                            <Fa icon={faArrowRightToBracket} size="xs"/>
                        </span>
                    </div>
                    <!-- svelte-ignore a11y-autofocus -->
                    <input
                        bind:this={userInput}
                        bind:value={userInputValue}
                        class="absolute left-12 sm:left-14 inset-y-0 w-2/3 bg-transparent outline-0 text-5xl font-bold cursor-default"
                        spellcheck="false"
                        readonly="{userAns}"
                        autofocus
                        on:blur={() => {if (!userAns) userInput.focus()}}
                    />
                </div>
                {#if userAns && userAns != currJp}
                    <div
                        class="h-24 sm:h-32 flex items-center text-5xl font-bold
                        pl-10 sm:pl-12 border-8 rounded-full border-gray-300 bg-blue-500"
                        in:fade="{{duration: 200}}"
                    >
                        {currJp}
                    </div>
                {:else}
                    <div class="h-24 sm:h-32"/>
                {/if}
            {:else}
                {#each [1, 2, 3, 4, 5, 6] as toneNum}
                    <ToneButton useExample={optUseExample} {toneNum} on:click={() => handleAnswer(toneNum)} {currTone} {userAns}/>
                {/each}
            {/if}
        </div>
        <PerformanceBar {rightCount} {wrongCount}/>
    </div>
</div>
{#if showOptions}
    <div
        class="z-50 fixed inset-0 grid place-content-center bg-black/50"
        transition:fade="{{duration: 200}}"
        on:click={() => showOptions = false}
    >
        <div
            class="bg-white m-2 rounded-xl grid gap-2 p-3 select-none"
            on:click|stopPropagation
        >
            <div class="flex justify-between items-baseline mb-2">
                <div class="w-16"/>
                <div class="text-center text-xl text-gray-600">options</div>
                <div class="w-16 text-right text-base">
                    <ClickableText text={'close'} on:click={() => showOptions = false}/>
                </div>
            </div>
            {#if dict.length}
                <OptionToggle falseOptionText={'input tone'} trueOptionText={'input jyutping'} bind:option={optInputJp}/>
            {/if}
            <OptionToggle falseOptionText={'tone number'} trueOptionText={'tone example'} bind:option={optUseExample}/>
            <OptionToggle falseOptionText={'disable auto-next'} trueOptionText={'enable auto-next'} bind:option={optAutoNext}/>
            <OptionToggle falseOptionText={'disable skipping'} trueOptionText={'enable skipping'} bind:option={optSkip}/>
            <OptionToggle falseOptionText={'disable audio'} trueOptionText={'enable audio'} bind:option={optAudio}/>
            <div class="text-right">
                鳴謝
                <a target="_blank" href="https://kaifangcidian.com/"><ClickableText text={'開放詞典'}/></a>
                <a target="_blank" href="https://humanum.arts.cuhk.edu.hk/Lexis/lexi-can/"><ClickableText text={'粵語審音配詞字庫'}/></a>
            </div>
        </div>
    </div>
{/if}
