<script>
    export let falseOptionText;
    export let trueOptionText;
    export let option;
</script>

<div
    class="grid grid-cols-2 gap-1 rounded-2xl bg-black hover:cursor-pointer"
    on:click={() => option = !option}
>
    <div
        class="border-4 border-r-0 rounded-l-xl bg-white border-gray-300 p-1 text-center"
        class:border-black="{!option}"
    >
        {falseOptionText}
    </div>
    <div
        class="border-4 border-l-0 rounded-r-xl bg-white border-gray-300 p-1 text-center"
        class:border-black="{option}"
    >
        {trueOptionText}
    </div>
</div>
