<script>
    export let rightCount;
    export let wrongCount;
</script>

<div class="h-12 flex justify-between text-3xl font-bold">
    <div style="flex-grow: {rightCount}"
    class="bg-green-500 duration-200 flex justify-center items-center rounded-l-xl"
    class:rounded-r-xl="{!wrongCount}">{rightCount ? rightCount : ''}</div>
    <div style="flex-grow: {wrongCount}"
    class="bg-red-500 duration-200 flex justify-center items-center rounded-r-xl"
    class:rounded-l-xl="{!rightCount}">{wrongCount ? wrongCount : ''}</div>
</div>
