<script>
    export let useExample;
    export let toneNum;
    export let currTone;
    export let userAns;

    const TONE_EXAMPLES = [undefined, '衣', '椅', '意', '移', '已', '易'];
</script>

<div
    class="w-24 h-24 sm:w-32 sm:h-32 flex justify-center items-center text-5xl
    select-none border-8 rounded-full border-gray-300 duration-200 transition-colors
    {useExample ? 'font-chinese' : 'font-bold'}"
    class:hover:cursor-pointer="{!userAns}"
    class:hover:border-black="{!userAns}"
    class:border-black="{userAns && userAns == toneNum}"
    class:bg-green-500="{userAns && userAns == toneNum && toneNum == currTone}"
    class:bg-red-500="{userAns && userAns == toneNum && toneNum != currTone}"
    class:bg-blue-500="{userAns && userAns != toneNum && toneNum == currTone}"
    on:click
>
    {useExample ? TONE_EXAMPLES[toneNum] : toneNum}
</div>
